@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --almost-White: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    font-family: epilogue;
    background-color: var(--almost-White);
}

button:hover {
    cursor: pointer;
}

nav li:hover,
nav img:hover {
    cursor: pointer;
    color: var(--almost-black);
}
li{
    list-style: none;
}